<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Read json from file</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../public/css/styles.css" />
</head>

<body>
<div class="container">
<div class="starter-template">
<h1>Json reader</h1>
<!--Now is: <b th:text="${execInfo.now.ts}"></b>-->
    <h2>
        <span th:text="'Message ' + ${message}"></span>
    </h2>
    <main id="messages">
        <article th:each="m: ${messages}">
            <p class="user" th:text="${m.user.username}">Username</p>
            <p class="avatar" th:text="${m.user.avatar}">Avatar</p>
            <p class="date" th:text="${#temporals.format(m.ts, 'dd-MM-yyyy HH:mm')}">Date</p>
            <p class="content" th:text="${m.text}">Message text</p>
        </article>
        </main>
    </div>
    </div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>